{% extends 'base/base.html' %}
{% load static %}

{% block content %}
  {% include 'base/generics/header.html' %}

  <!-- Registers -->
  <div class="card shadow mb-3">
    <div class="card-header py-3">
      <div class="d-flex justify-content-between flex-wrap" style="width: 100%">
        <div class="col-sm-6 mb-3">
          <p class="text-primary m-0 fw-bold h4">Registers</p>
        </div>
        <div class="col-sm-6 search-inline input-group" id="searchPerson">
          {% include "register/elements/search_person.html" %}
        </div>
      </div>
    </div>
    <div class="card-body" id="registers">
      {% if request.session.new_order.registers %}
        {% include 'register/elements/register_table.html' %}
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <!-- Forms of Payment -->
      <div class="card shadow mb-3">
        <div class="card-header py-3 d-flex justify-content-between">
          <p class="text-primary m-0 fw-bold h4">Forms of Payment</p>
          <button 
            type="button" 
            class="btn btn-primary"
            data-bs-toggle="modal" 
            data-bs-target="#baseModal"
            onclick="manageData('{% url 'register:add_payform' %}')"
          >
            <i class="bi bi-plus-lg"></i> Add
          </button>
        </div>
        <div class="card-body" id="formsOfPayment">
          {% include 'register/elements/payform_table.html' %}
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card shadow mb-3">
        <!-- Details -->
        <div class="card-header py-3 d-flex justify-content-between">
          <p class="text-primary m-0 fw-bold h4">Details</p>
        </div>
        <div class="card-body" id="formsOfPayment">
          <form action="{{ request.path }}" method="post">
            {% csrf_token %}
            <textarea class="form-control mb-4" rows="3" name="observations"></textarea>
            <button 
              type="submit" 
              class="btn btn-primary btn-lg"
            >
              <i class="bi bi-check"></i>Manda vê
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  
  {% include 'base/modal.html' %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/modal_form.js' %}"></script>
<script>
  function manageData(url) {
    htmx.ajax('GET', url, '#baseModalContent')
  }
</script>
{% endblock %}
