{% load i18n %}
<div class="modal-header text-danger">
  <h4 class="modal-title">{% trans 'Atention' %}! </h4>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
  <h4>{% trans 'Are you shure you want to remove' %}: </h4>
  <br>
  {% include 'register/components/detail_registers_payforms.html' %}
</div>

<div class="modal-footer">
  <form method="POST" action="{{ request.path }}">
    {% csrf_token %}
    <div class="text-right">
      <button 
        type="button" 
        class="btn btn-outline-info" 
        data-bs-dismiss="modal" 
        aria-label="Close"
      >
        <i class="bi bi-x-lg"></i>
        {% trans 'Cancel' %}
      </button>
      <button 
        type="submit"
        class="btn btn-outline-danger"
      >
        <i class="bi bi-check-lg"></i>
        {% trans 'Delete' %}
      </button>
    </div>
  </form>
</div>