{% extends 'base/base.html' %}
{% load static %}

{% block content %}
  {% include 'base/generics/header.html' %}

  <!-- Registers -->
  <div class="card shadow mb-3">
    <div class="card-header py-3">
      <div class="d-flex justify-content-between flex-wrap" style="width: 100%">
        <div class="col-sm-6 mb-3">
          <p class="text-primary m-0 fw-bold h5">Registers</p>
        </div>
        <div class="col-sm-6 search-inline input-group" id="searchPerson">
          {% include "register/elements/search_person.html" %}
        </div>
      </div>
    </div>
    <div class="card-body" id="registers">
      {% if request.session.order.registers %}
        {% include 'register/elements/register_table.html' %}
      {% else %}
        <br>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <!-- Forms of Payment -->
      <div class="card shadow mb-3">
        <div class="card-header py-3 d-flex justify-content-between">
          <p class="text-primary m-0 fw-bold h5">Forms of Payment</p>
          {% if request.session.order.registers.0.lodge %}
            <button 
              type="button" 
              class="btn btn-outline-primary"
              data-bs-toggle="offcanvas" 
              data-bs-target="#offcanvasForm" 
              aria-controls="offcanvasForm"
              onclick="manageForm('{% url 'register:add_payform' %}')"
            >
              <i class="bi bi-plus-lg"></i> Add
            </button>
          {% endif %}
        </div>
        <div class="card-body" id="formsOfPayment">
          {% if request.session.order.registers.0.lodge %}
            {% include 'register/elements/payform_table.html' %}
          {% else %}
            <br>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <!-- Details -->
      <div class="card shadow mb-3">
        <div class="card-header py-3 d-flex justify-content-between">
          <p class="text-primary m-0 fw-bold h5">Details</p>
        </div>
        <div class="card-body" id="formsOfPayment">
          <form action="{{ request.path }}" method="post">
            {% csrf_token %}
            {% if request.session.order.total_registers != 0 and request.session.order.missing == 0 %}
              <textarea 
                name="observations" 
                class="form-control mb-4" 
                rows="2"
              >
                {{ request.session.order.observations }}
              </textarea>
            {% endif %}
            <div class="text-end">
              <button 
                type="button" 
                class="btn btn-outline-info"
                onclick="location.href='{% url 'event:detail' request.session.order.event %}';"
              >
                <i class="bi bi-chevron-left"></i>Voltar
              </button>
              {% if request.session.order.total_registers != 0 and request.session.order.missing == 0 %}
                <button 
                  type="submit" 
                  class="btn btn-outline-primary"
                >
                  <i class="bi bi-check"></i>Registrar
                </button>
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% include 'base/modal.html' %}
  {% include 'base/offcanvas.html' %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/modal_form.js' %}"></script>
<script>
  function manageData(url) {
    htmx.ajax('GET', url, '#baseModalContent')
  }
  function manageForm(url) {
    htmx.ajax('GET', url, '#offcanvasContent')
  }
</script>
{% endblock %}
