{% load i18n %}
<div class="mt-2">
  {% if request.session.order.payforms %}
    {% for payf in request.session.order.payforms %}
      {% include 'register/components/payform_row.html' %}
    {% endfor %}
    <div class="d-flex justify-content-end align-items-center">
      <div class="text-end h4">{% trans "Total" %}: &nbsp;&nbsp;</div>
      <div class="text-end total-value">
        <input 
          class="form-control form-control-lg"
          style="width: 8.2rem; text-align:right; margin-right: .5rem;"
          value="{{ request.session.order.total_payforms|floatformat:2 }}" 
          readonly
        />
      </div>
    </div>
    {% if request.session.order.missing != 0 %}
      <div class="text-center text-danger mt-4">
        {% trans "Missing" %}: &nbsp;&nbsp;{{ request.session.order.missing|floatformat:2 }}
      </div>
    {% endif %}

  {% endif %}

  {% comment %} <table class="table table-sm">
    {% if request.session.order.payforms %}
      <thead>
        <tr>
          <th>#</th>
          <th>{% trans "Type" %}</th>
          <th colspan="2">{% trans "Detail" %}</th>
          <th class="text-end">{% trans "Value R$" %}</th>
        </tr>
      </thead>
    {% endif %}
    <tbody class="table-group-divider">
      {% for payf in request.session.order.payforms %} 
        {% include 'register/components/payform_row.html' %}
      {% endfor %}
    </tbody>
    <tfoot>
      {% if request.session.order.payforms %}
        <tr>
          <th colspan="4" class="text-end h4">{% trans "Total" %}:</th>
          <th class="text-end total-value">
            <input 
              class="form-control form-control-lg"
              style="width: 8.7rem; text-align:right;"
              value="{{ request.session.order.total_payforms|floatformat:2 }}" 
              readonly
            />
          </th>
        </tr>
      {% endif %}
      {% if request.session.order.missing != 0 %}
      <tr class="text-danger">
        <th colspan="4" class="text-end">{% trans "Missing" %}:</th>
        <th class="text-end text-center">
          {{ request.session.order.missing|floatformat:2 }}
        </th>
      </tr>
      {% endif %}
    </tfoot>
  </table> {% endcomment %}
</div>