{% load static %}
<div class="row align-items-start mb-2 pb-2 border-bottom">
  <div class="col-xl-2 mb-2">
    <span class="small">{{ forloop.counter }}. </span> <strong>{{ payf.payment_type.name }}</strong>
  </div>
  <div class="col-xl-8 fst-italic">
    {% if payf.payment_type.id != 'CSH' %}
      {{ payf.bank_flag.name }} | {{ payf.ctrl }}
    {% endif %}
  </div>
  <div class="col text-end">
    <div class="d-flex justify-content-end">
      <div>
        <input 
          name="value"
          class="form-control form-control-sm"
          style="width: 6.5rem; text-align:right;"
          hx-get="{% url 'register:adj_payform_value' %}"
          hx-vals='{"pfid": "{{ payf.pfid }}"}'
          value="{{ payf.value|floatformat:2 }}"
        />
      </div>
      <button 
        type="button" 
        class="btn btn-light text-danger btn-sm ms-1"
        hx-get="{% url 'register:del_payform' %}"
        hx-vals='{"pfid": "{{ payf.pfid }}"}'
        hx-confirm="Are you sure?"
      >
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>
</div>
