{% load i18n %}
<div class="mt-2">
  {% for reg in request.session.order.registers %} 
    {% include 'register/components/register_row.html' %}
  {% endfor %}
  <div class="d-flex justify-content-end align-items-center">
    <div class="text-end h4">{% trans "Total" %}: &nbsp;&nbsp;</div>
    <div class="text-end total-value">
      <input 
        class="form-control form-control-lg"
        style="width: 8.2rem; text-align:right; margin-right: .5rem;"
        value="{{ request.session.order.total_registers|floatformat:2 }}" 
        readonly
      />
    </div>
  </div>
</div>