:root{
  --table-line: #d2d4e6;
  --table-hover:#f1edb4;
}

body {
  width: 1000px;
  margin: 0 auto;
  font-size: 10pt;
  font-family: arial, helvetica;
}

@media screen {

  .floating {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 200;
    margin: 20px;
    padding: 20px;
    background-color: #efefef;
  }
}

@media print {

  a,
  #controlers {
    display: none;
  }
}

/* pandas table */
table {
  width: 100%;
}

table,
td,
th {
  border: none;
}

/* thead {
  text-align: right;
} */

.dataframe {width: 100%;}

.dataframe thead {
  background-color: #c8c8cc;
  border-bottom: 2px solid rgb(104, 101, 121);
}

.dataframe th {
  text-align: right;
  font-size: 10pt;
  padding: 6px 2px 6px 2px;
  font-weight: bold;
}

.dataframe td {
  text-align: right;
  font-size: 9pt;
  padding: 2px;
}

.dataframe th:nth-child(1), 
.dataframe th:nth-child(2),
.dataframe td:nth-child(1), 
.dataframe td:nth-child(2) {
  text-align: left;
  font-weight: bold;
}

.dataframe tr {
  line-height: .8rem;
}

.dataframe tr:nth-child(even) {
  background-color: var(--table-line);
}

.dataframe tr:hover {
  background-color: var(--table-hover);
}


/* pandas-annual-frequency */
.pandas-annual-frequency tr:last-child {
  font-size: 10pt;
  font-weight: bold;
  background-color: #c8c8cc;
  border-top: 2px solid rgb(104, 101, 121) !important;
  border-bottom: 2px solid rgb(104, 101, 121) !important;
}

.pandas-annual-frequency tr:last-child td:nth-child(4) {
  text-align: right;
}

.pandas-annual-frequency td:last-child {
  font-size: 10pt;
  font-weight: bold;
}

.pandas-annual-frequency td:nth-child(3),
.pandas-annual-frequency td:nth-child(4),
.pandas-annual-frequency th:nth-child(3),
.pandas-annual-frequency th:nth-child(4) {
  text-align: left;
}

/* pandas-table-summary */