{% extends 'base/base.html' %}
{% block content %}
  <h3 class="text-dark">{{ title }}</h3>
  <br>
  <div class="d-flex flex-wrap" style="gap: 1em;">
    {% for obj in object_list %}
      <div 
        class="card border-primary text-bg-primary mb-3 text-center is-link" 
        style="width: 25rem;"
        onclick="location.href='{% url 'event:detail' obj.pk %}'"
      >
        <div class="card-body">
          <h4 class="card-title"><span class="fw-bolder">{{ obj.activity.name }}</span></h4>
          <p>{{ obj.center.name }} <br> {{ obj.center.city }} ({{ obj.center.state }}/{{ obj.center.country }})</p>
          <table class="table text-start">
            <tr>
              <td class="text-light">period:</td><td class="text-light">{{ obj.date|date:"d/m/y" }} to {{ obj.end_date|date:"d/m/y" }}</td>
            </tr>
            <tr>
              <td class="text-light">deadline:</td><td class="text-light">{{ obj.deadline|date:"d/m/y H:i" }}</td>
            </tr>
            <tr>
              <td class="text-light">value:</td><td class="text-light">{{ obj.ref_value }}</td>
            </tr>
          </table>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock  %}