{% extends 'base/base.html' %}
{% load i18n %}
{% block content %}
  <h3 class="text-dark">{{ title }}</h3>
  <br>
  <div class="d-flex flex-wrap" style="gap: 1em;">
    {% for obj in object_list %}
      <div 
        class="card border-primary text-bg-primary mb-3 text-center is-link" 
        style="width: 25rem;"
        onclick="location.href='{% url 'event:detail' obj.pk %}'"
      >
        <div class="card-body">
          <h5 class="card-title"><span class="fw-bolder">{{ obj.activity.name }}</span></h5>
          <h1 class="display-1 text-warning fw-bolder">{{ obj.date|date:"M/y" }}</h1>
          <p class="lead">{{ obj.center.name }} <br> <span class="fw-bolder">{{ obj.center.city }} ({{ obj.center.state }}/{{ obj.center.country }})</span></p>
          <table class="table text-start">
            <tr>
              <td class="text-light">{% trans "period" %}:</td><td class="text-light">{{ obj.date|date:"d/m/y" }} to {{ obj.end_date|date:"d/m/y" }}</td>
            </tr>
            <tr>
              <td class="text-light">{% trans "deadline" %}:</td><td class="text-light">{{ obj.deadline|date:"d/m/y H:i" }}</td>
            </tr>
            <tr>
              <td class="text-light">{% trans "value" %}:</td><td class="text-light">{{ obj.ref_value }}</td>
            </tr>
            <tr>
              <td class="text-light">{% trans "registers" %}:</td><td class="h4 text-light fw-bolder">{{ obj.registers }}</td>
            </tr>
          </table>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock  %}