{% load static %}

<li class="nav-item dropdown no-arrow">
  <div class="nav-item dropdown no-arrow">
    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
      <span class="d-none d-lg-inline me-2 text-gray-600 small">{{ request.user }}</span>
      {% if user.person.gender == 'M' %}
        <img src="{% static 'img/male.png' %}" alt="male" style="width:25px;height:25px;"> &nbsp;&nbsp;
      {% else %}
        <img src="{% static 'img/female.png' %}" alt="female" style="width:25px;height:25px;"> &nbsp;&nbsp;
      {% endif %}
    </a>
    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
      <a class="dropdown-item" href="{% url 'person:detail' user.person.id %}">
        <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile
      </a>
      <a class="dropdown-item" href="{% url 'accounts:password_change' %}">
        <i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Change Password
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'accounts:logout' %}">
        <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout
      </a>
    </div>
  </div>
</li>