{% load i18n %}
{% load my_tags %}
<div 
  id="offcanvasForm" 
  class="offcanvas offcanvas-end" 
  tabindex="-1" 
  data-bs-backdrop="static"
  aria-labelledby="offcanvasFormLabel"
>
  <div class="offcanvas-header">
    {% include 'base/hx/offcanvas_title.html' %}
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div id="offcanvasContent" class="offcanvas-body" hx-target="this">
    Loading...
  </div>
  <div class="offcanvas-footer text-end m-4">
    <button 
      type="button" 
      class="btn btn-outline-info" 
      data-bs-dismiss="offcanvas" 
      aria-label="Close"
    >
      <i class="bi bi-x-lg"></i>
      {% trans 'Cancel' %}
    </button>
    {% if user.is_authenticated and user|has_group:'admin,office' %}
      <button 
        type="submit"
        class="btn btn-outline-primary"
        form="form"
      >
        <i class="bi bi-check-lg"></i>
        {% trans 'Confirm' %}
      </button>
      {% if delete_link and user|delete_permission:delete_link %}
        <button 
          type="button" 
          class="btn btn-outline-danger" 
          data-bs-dismiss="offcanvas" 
          aria-label="Close"
          data-bs-toggle="modal" 
          data-bs-target="#baseModal"
          onclick="manageData('{{ delete_link }}')"
        >
          <i class="bi bi-x-lg"></i>
          {% trans 'Delete' %}
        </button>
      {% endif %}
    {% endif %}
  </div>
</div>