{% extends 'base/base.html' %}
{% load my_tags %}
{% block content %}
  <h3 class="text-dark">{{ title }}</h3>
  <br>
  <div class="d-flex flex-wrap" style="gap: 1em;">
    {% if user.is_authenticated and user|has_group:'office,admin' %}
      <div 
        class="card text-bg-primary mb-3 is-link" 
        style="width: 18rem;"
        onclick="location.href='{% url 'register:bankflag_list' %}'"
      >
        <div class="card-body">
          <h4 class="card-title">Bank or Flag</h4>
          <p class="card-text">manage bank names or credit card flags</p>
        </div>
      </div>
      <div 
        class="card text-bg-primary mb-3 is-link" 
        style="width: 18rem;"
        onclick="location.href='{% url 'center:list' %}'"
      >
        <div class="card-body">
          <h4 class="card-title">Centers</h4>
          <p class="card-text">manage centers and conference centers</p>
        </div>
      </div>
      <div 
        class="card text-bg-primary mb-3 is-link" 
        style="width: 18rem;"
        onclick="location.href='{% url 'center:building_list' %}'"
      >
        <div class="card-body">
          <h4 class="card-title">Buildings</h4>
          <p class="card-text">manage the buildings in your center</p>
        </div>
      </div>
      <div 
        class="card text-bg-primary mb-3 is-link" 
        style="width: 18rem;"
        onclick="location.href='{% url 'event:activity_list' %}'"
      >
        <div class="card-body">
          <h4 class="card-title">Activities</h4>
          <p class="card-text">manage activities</p>
        </div>
      </div>
      <div 
        class="card text-bg-primary mb-3 is-link" 
        style="width: 18rem;"
        onclick="location.href='{% url 'person:staff_list' %}'"
      >
        <div class="card-body">
          <h4 class="card-title">Staff</h4>
          <p class="card-text">manage staff</p>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock  %}