<!-- Credit Log | start -->
<div class="card shadow mb-3">
  <div class="card-header py-3">
    <p class="text-primary m-0 fw-bold">Credit Log</p>
  </div>
  <div class="card-body">
    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
      <table class="table table-sm table-hover">
        <tr>
          <th>Date</th>
          <th>Operation</th>
          <th>Description</th>
          <th class="text-end">R$</th>
        </tr>
        {% for credit in credit_log %}
          <tr class="{% if credit.operation == 'USE' %}text-danger{% endif %}">
            <td>{{ credit.created_on|date:'d/m/Y' }}</td>
            <td>{{ credit.get_operation_display }}</td>
            <td>{{ credit.description }}</td>
            <td class="text-end">{% if credit.operation == 'USE' %}-{% endif %}{{ credit.credit }}</td>
          </tr>
        {% endfor %}
        <tr>
          <th colspan="3" class="text-end">TOTAL</th>
          <th class="text-end">{{ object.credit }}</th>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Credit Log | end -->