{% load static %}
{% load my_tags %}
<div class="card mb-3">
  <div class="card-body shadow">
    <div class="text-center">
      <img 
        class="rounded-circle mb-3 mt-4" 
        src="{% if object.gender == 'M' %}{% static 'img/male.png' %}{% else %}{% static 'img/female.png' %}{% endif %}" 
        width="160" height="160" 
      />
      <h4 class="text-dark mb-4">{{ object.name }}</h4>
    </div>
    <hr>
    <table class="table table-sm table-hover">
      <tr>
        <th>local</th>
        <td>
          {% if object.city %}{{ object.city }}{% endif %} ({% if object.state %}{{ object.state }}-{% endif %}{{ object.country }})
        </td>
      </tr>
      <tr>
        <th>phone</th>
        <td>{% if object.phone %}{{ object.phone }}{% endif %}</td>
      </tr>
      <tr>
        <th>email</th>
        <td>{% if object.email %}{{ object.email }}{% endif %}</td>
      </tr>
      <tr class="text-danger">
        <th>sos contact</th>
        <td>{% if object.sos_contact %}{{ object.sos_contact }}{% endif %}</td>
      </tr>
      <tr class="text-danger">
        <th>sos phone</th>
        <td>{% if object.sos_phone %}{{ object.sos_phone }}{% endif %}</td>
      </tr>
      <tr>
        <th>age</th>
        <td>
          {{ object.birth|age }} anos &nbsp;&nbsp; <small>({{ object.birth|date:"d/m/Y" }})</small>
        </td>
      </tr>
      <tr>
        <th>id card</th>
        <td>{% if object.id_card %}{{ object.id_card }}{% endif %}</td>
      </tr>
    </table>
    <br>
    <div class="text-end mb-3">
      <button 
        type="button"
        class="btn btn-outline-secondary" 
        data-bs-toggle="offcanvas" 
        data-bs-target="#offcanvasForm" 
        aria-controls="offcanvasForm"
        onclick="manageForm('{% url 'person:update' object.pk %}')"
      >
        <i class="bi bi-pencil"></i> Editar
      </button>
    </div>
  </div>
</div>