{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% include 'base/hx/offcanvas_title.html' %}
<form id="form" hx-post="{{ request.path }}">
  {% csrf_token %}
  {% for field in form.visible_fields %}
    {% if field|field_type == "booleanfield" %}
      <div class="{% if field.errors %}has-error{% endif %} mt-3">
        {% render_field field class="form-check-input" %}
        <label for="#" class="form-label">{{ field.label_tag }}</label>
        {% for error in field.errors %}
          <span class="text-muted">{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      <div class="{% if field.errors %}has-error{% endif %} mt-3">
        <label for="#" class="form-label">{{ field.label_tag }}</label>
        {% render_field field class="form-control" %}
        {% for error in field.errors %}
          <span class="text-muted">{{ error }}</span>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
  {% render_field form.bedroom type="hidden" %}
  {% render_field form.bedroom_alt type="hidden" %}
  {% render_field form.bedroom_type type="hidden" %}
</form>