<!-- Stays | start -->
<div class="card shadow mb-3">
  <div class="card-header py-3">
    <p class="text-primary m-0 fw-bold">Stays</p>
  </div>
  <div class="card-body">
    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
      {% if stays %}
        <table class="table table-sm">
          <tr>
            <th>Stay</th>
            <th>Lodge</th>
            <th>Arrival</th>
            <th>Departure</th>
            <th>Restr.</th>
            <th>Staff</th>
            <th></th>
          </tr>
          <tbody id="stay_list">
            {% for stay in stays %}
              {% include 'person/components/stay_row.html' %}
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
    <div class="text-end mb-3">
      <button 
        type="button"
        class="btn btn-outline-primary" 
        data-bs-toggle="offcanvas" 
        data-bs-target="#offcanvasForm" 
        aria-controls="offcanvasForm"
        onclick="manageForm('{% url 'person:stay_create' object.pk %}')"
      >
        <i class="bi bi-plus-lg"></i> Add 
      </button>
    </div>
  </div>
</div>
<!-- Stays | end -->