{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% include 'base/hx/offcanvas_title.html' %}
<form id="form" hx-post="{{ request.path }}">
  {% csrf_token %}
  {% for field in form.visible_fields %}
    <div class="{% if field.errors %}has-error{% endif %} mt-3">
      {% if field|field_type == "booleanfield" %}
        {% render_field field class="form-check-input" %}
        <label for="#" class="form-label">{{ field.label_tag }}</label>
      {% else %}
        <label for="#" class="form-label">{{ field.label_tag }}</label>
        {% render_field field class="form-control" %}
      {% endif %}
      {% for error in field.errors %}
        <span class="text-muted">{{ error }}</span>
      {% endfor %}
    </div>
  {% endfor %}
</form>