{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
  <h1>{{ title }}</h1> 
  <form method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
      <div class="col-auto {% if field.errors %}has-error{% endif %}">
        <label for="#" class="form-label">{{ field.label_tag }}</label>
        {% render_field field class="form-control" %}
        {% for error in field.errors %}
          <span class="text-muted">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}  
    <div class="text-end mt-4">
      <button 
        type="button" 
        class="btn btn-outline-secondary"
        onclick="location.href='{% url 'event:activity_list' %}';"
      >
        <i class="bi bi-chevron-left"></i>
        Voltar 
      </button>
      <button 
        type="submit" 
        class="btn btn-outline-primary"
      >
        <i class="bi bi-check-lg"></i>
        Save
      </button>
    </div>
  </form>

{% endblock  %}
