{% load static %}
{% load my_tags %}

<div class="card shadow">
  <div class="card-header py-3">
    <p class="text-primary m-0 fw-bold">People</p>
  </div>
  <div class="card-body">
    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
      <table class="table my-0" id="dataTable">
        {% if object_list %}
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Local</th>
            <th>Age</th>
            <th>Phone</th>
            <th class="text-end">Email</th>
          </tr>
        {% endif %}
        <tbody>
          {% for obj in object_list  %}
            <tr class="is-link" onclick="location.href='{% url 'person:detail' obj.pk %}'">
              <td>{{ forloop.counter }}</td>
              <td>
                {% if obj.gender == 'M' %}
                  <img src="{% static 'img/male.png' %}" alt="male" style="width:20px;height:20px;"> &nbsp;&nbsp;
                {% else %}
                  <img src="{% static 'img/female.png' %}" alt="female" style="width:20px;height:20px;"> &nbsp;&nbsp;
                {% endif %}
                {{ obj.name }}
              </td>
              <td>
                {% if obj.city %}{{ obj.city }}{% endif %} ({% if obj.state %}{{ obj.state }}-{% endif %}{{ obj.country }})
              </td>
              <td>{{ obj.birth|age }} years</td>
              <td>{{ obj.phone }}</td>
              <td class="text-end">{{ obj.email }}</td>
            </tr>
          {% empty %}
            <div class="alert alert-warning" role="alert">
              no person was found in the database
            </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>