<!-- Stays | start -->
{% if credit_log %}
<table class="table table-sm table-hover">
  <tr>
    <th>Stay</th>
    <th>Lodge</th>
    <th>Arrival</th>
    <th>Restriction</th>
    <th class="text-end">Staff</th>
  </tr>
  {% for stay in stays %}
    <tr>
      <td>{{ stay.stay_center }}</td>
      <td>{{ stay.get_lodge_display }}</td>
      <td>{{ stay.get_arrival_date_display }}, {{ stay.get_arrival_time_display }}</td>
      <td class="text-danger">
        {% if stay.no_stairs %}no stairs{% endif %}
        {% if stay.no_stairs and stay.no_bunk %} {% endif %}
        {% if stay.no_bunk %}no bunk{% endif %}
      </td>
      <td class="text-end">{{ stay.get_staff_display }}</td>
    </tr>
  {% endfor %}
</table>
{% endif %}
<!-- Stays | end -->