<nav class="navbar bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Reports an Actions</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <h5 class="offcanvas-title mb-3 border-bottom">Reports</h5>
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'event:report_mapping_by_room' event.pk %}">
              <i class="bi bi-file-earmark-ruled"></i> Accommodation mapping by room
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'event:report_mapping_per_person' event.pk %}">
              <i class="bi bi-file-earmark-ruled"></i> Accommodation mapping per person
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'event:report_people_at_the_event' event.pk %}">
              <i class="bi bi-file-earmark-ruled"></i> People on event
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#"><i class="bi bi-file-earmark-ruled"></i> Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#"><i class="bi bi-file-earmark-ruled"></i> Meals</a>
          </li>
        </ul>
        <br>
        <h5 class="offcanvas-title mb-3 border-bottom">Actions</h5>
        <div class="text-end">
          <button 
            type="button"
            class="btn btn-outline-danger" 
            data-bs-toggle="modal" 
            data-bs-target="#baseModal"
            onclick="manageData('{% url 'event:rebuild_the_mapping' event.pk %}')"
          >
            <i class="bi bi-building"></i> 
            Reset mapping
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>