{% load static %}
<tr>
  <td>{{ forloop.counter }}</td>
  <th>{{ reg.person.name }}</th>
  <th>
    {% if reg.lodge == 'HSE' %}
      <span
        data-bs-toggle="tooltip" 
        data-bs-placement="left"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="house"
      >
        🏠
      </span>
    {% endif %}
    {% if reg.lodge == 'HTL' %}
      <span
        data-bs-toggle="tooltip" 
        data-bs-placement="left"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="hotel"
      >
        🏨
      </span>
    {% endif %}
    {% if reg.lodge == 'LDG' %}
      <div 
        data-bs-toggle="tooltip" 
        data-bs-placement="left"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="{% if reg.accommodation %}{{ reg.accommodation.bedroom.building.name }}{% else %}not alocated{% endif %}"
      >
        {% if reg.accommodation %}
          <!-- gender -->
          {% if reg.accommodation.bedroom.gender == 'M'%}<img src="{% static 'img/male.png' %}" alt="male" style="width:22px;height:22px;">{% endif %}
          {% if reg.accommodation.bedroom.gender == 'F'%}<img src="{% static 'img/female.png' %}" alt="female" style="width:22px;height:22px;">{% endif %}
          {% if reg.accommodation.bedroom.gender == 'X'%}<img src="{% static 'img/mixed.png' %}" alt="mixed" style="width:22px;height:22px;">{% endif %}
          <!-- button or top -->
          {% if reg.accommodation.bottom_or_top == 'T' %} 
            <img class="icon-style" src="{% static 'img/icons/bed_TY.png' %}" alt="no stairs">
          {% else %}
            <img class="icon-style" src="{% static 'img/icons/bed_BY.png' %}" alt="no stairs">
          {% endif %}
          <span class="text-primary">
            {{ reg.accommodation.bedroom.name }}
          </span>
        {% else %}
          <img class="icon-style" src="{% static 'img/icons/bed_EMPTY.png' %}" alt="no stairs" style="width:20px;height:20px;">
        {% endif %}
      </div>
    {% endif %}
  </th>
  <td>
    {% if reg.lodge == 'LDG' %}
      {% if reg.accommodation %}
        <div class="btn-group" role="group">
          <button 
            type="button"
            class="btn btn-light text-info btn-sm" 
            data-bs-toggle="modal" 
            data-bs-target="#baseModal"
            onclick="manageData('{% url 'event:bedroom_details' reg.accommodation.bedroom.id %}')"
          >
            <i class="bi bi-eye"></i>
          </button>
          <button 
            type="button"
            class="btn btn-light text-danger btn-sm" 
            data-bs-toggle="modal" 
            data-bs-target="#baseModal"
            onclick="manageData('{% url 'event:remove_from_bedroom' reg.id %}')"
          >
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      {% else %}
        <button 
          type="button"
          class="btn btn-light text-primary btn-sm" 
          data-bs-toggle="modal" 
          data-bs-target="#baseModal"
          onclick="manageData('{% url 'event:add_to_bedroom' reg.order.event.id reg.id %}')"
        >
          <i class="bi bi-plus-lg"></i>
        </button>
      {% endif %}
    {% endif %}
  </td>
  <td>⤵️ {{ reg.get_arrival_time_display }}</td>
  <td>⤴️ {{ reg.get_departure_time_display }}</td>
  <td>
    {% if reg.no_stairs %}
      <img class="icon-style" src="{% static 'img/icons/NoStairs.png' %}" alt="no stairs"> &nbsp;&nbsp;
    {% endif %}
    {% if reg.no_bunk %}
      <img class="icon-style" src="{% static 'img/icons/NoBunk.png' %}" alt="no bunk">
    {% endif %}
  </td>
  <td {% if reg.observations %}
    data-bs-toggle="tooltip" 
    data-bs-placement="top"
    data-bs-custom-class="custom-tooltip"
    data-bs-title="{{ reg.observations }}"
  {% endif %}>
    {% if reg.observations %}{{ reg.observations|truncatechars:20 }}{% endif %}
  </td>
  <td>
    <div class="d-flex justify-content-between">
      {{ reg.staff }}
      <button 
        type="button"
        class="btn btn-light text-secondary btn-sm" 
        data-bs-toggle="offcanvas" 
        data-bs-target="#offcanvasForm" 
        aria-controls="offcanvasForm"
        onclick="manageForm('{% url 'event:managing_staff' reg.id %}')"
      >
        <i class="bi bi-pencil"></i>
      </button>
    </div>
  </td>
</tr>