<!-- Stays | start -->
<div class="card shadow mb-3">
  <div class="card-header py-3">
    {% include 'base/list_search.html' with list_title="Accommodations" placeholder="Search by name..." %}
  </div>
  <div class="card-body">
    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
      {% if registers|length > 0 %}
        <table class="table table-sm">
          <tr>
            <th>#</th>
            <th>Person</th>
            <th colspan="2">Lodge</th>
            <th>Arrival</th>
            <th>Departure</th>
            <th>Restr.</th>
            <th>Obs</th>
            <th>Staff</th>
          </tr>
          <tbody id="stay_list">
            {% for reg in registers %}
              {% include 'event/accommodation/elements/person_list_item.html' %}
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
</div>
<!-- Stays | end -->