<!-- Stays | start -->
<div class="card shadow mb-3">
  <div class="card-header py-3">
    <p class="text-primary m-0 fw-bold">Registers</p>
  </div>
  <div class="card-body">
    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
      {% if registers.count > 0 %}
        <table class="table table-sm">
          <tr>
            <th>#</th>
            <th>Person</th>
            <th>Lodge</th>
            <th>Arrival</th>
            <th>Departure</th>
            <th>Restrictions</th>
            <th class="text-end">Value $</th>
            <th></th>
          </tr>
          <tbody id="stay_list">
            {% for reg in registers %}
              {% include 'event/accommodation/elements/person_list_item.html' %}
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
</div>
<!-- Stays | end -->