{% load static %}
{% load my_tags %}

<div class="card shadow">
  <div class="card-header py-3">
    {% include 'base/list_search.html' with list_title="Events" placeholder="Search by MM/YY..." %}
  </div>
  <div class="card-body">
    <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
      <table class="table my-0" id="dataTable">
        {% if object_list %}
          <tr>
            <th>#</th>
            <th>Event</th>
            <th>Local</th>
            <th>Date</th>
            <th class="text-end">Registers</th>
            <th class="text-end">Status</th>
          </tr>
        {% endif %}
        <tbody>
          {% for obj in object_list  %}
            <tr 
              class="is-link text-{% if obj.status == 'OPN' %}primary{% else %}secondary{% endif %}" 
              onclick="location.href='{% url 'event:detail' obj.pk %}'"
              >
              <td>{{ forloop.counter }}</td>
              <td>
                {{ obj.activity.name }}
              </td>
              <td>{{ obj.center }}</td>
              <td>{{ obj.date|date:"d/m" }} to {{ obj.end_date|date:"d/m" }} of {{ obj.end_date|date:"Y" }}</td>
              <td class="text-end fw-bolder">
                {% if obj.num_orders %}{{ obj.num_orders }}{% endif %}
              </td>
              <td class="text-end">
                {% if obj.status == 'OPN' %}
                  <span class="badge rounded-pill text-bg-primary">Open</span>
                {% else %}
                  <span class="badge rounded-pill text-bg-secondary">Close</span>
                {% endif %}
              </td>
            </tr>
          {% empty %}
            <div class="alert alert-warning" role="alert">
              no <strong>Events</strong> was found in the database
            </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>