<!-- Stays | start -->
<div class="card shadow mb-3">
  <div class="card-header py-3">
    <div class="card-header py-3">
      {% include 'base/list_search.html' with list_title="Registers" placeholder="Search by name..." %}
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
      {% if registers|length > 0 %}
        <table class="table table-sm">
          <tr>
            <th>#</th>
            <th>Person</th>
            <th>Lodge</th>
            <th>Arrival</th>
            <th>Departure</th>
            <th>Restrictions</th>
            <th class="text-end">Value $</th>
            <th></th>
          </tr>
          <tbody id="stay_list">
            {% for reg in registers %}
              {% include 'event/elements/register_list_item.html' %}
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="alert alert-secondary" role="alert">
          Register not found.
        </div>
      {% endif %}
    </div>
  </div>
</div>
<!-- Stays | end -->