<div class="d-flex flex-wrap">
  {% for obj in object_list  %}
    <div class="card p-2" style="width: 25rem;">
      <h1 class="display-1 text-center"><i class="bi bi-building"></i></h1>
      <div class="card-body">
        <h5 class="card-title">{{ obj.name }}</h5>

        <table class="table table-sm table-striped">
          <tr>
            <th scope="row">short name</th>
            <td>{{ obj.short_name }}</td>
          </tr>
          <tr>
            <th scope="row">local</th>
            <td>{{ obj.city }} ({{ obj.state }}-{{ obj.country }})</td>
          </tr>
          <tr>
            <th scope="row">email</th>
            <td>{{ obj.email }}</td>
          </tr>
          <tr>
            <th scope="row">phone</th>
            <td>{{ obj.phone }}</td>
          </tr>
          <tr>
            <th scope="row">contact</th>
            <td>{% if obj.contact.first.person %}{{ obj.contact.first.person }}{% else %}{{ obj.contact.first }}{% endif %}</td>
          </tr>
        </table>
        <br><br>
        <div class="text-end position-absolute bottom-0 end-0 m-4">
          <button 
            type="button" 
            class="btn btn-outline-secondary"
            onclick="location.href='{% url 'center:update' obj.pk %}';"
          >
            <i class="bi bi-pencil-square"></i>
            Edit
          </button>
          <button 
            type="button" 
            class="btn btn-outline-danger"
            onclick="location.href='{% url 'center:delete' obj.pk %}';"
          >
            <i class="bi bi-trash3"></i>
            Delete
          </button>
        </div>
      </div>
    </div>
  {% empty %}
    Nenhum núcleo no banco de dados
  {% endfor %}
</div>