{% load i18n %}
<div class="card shadow mb-3">
  <div class="card-header py-3">
    <p class="text-primary m-0 fw-bold">{% trans "Events" %}</p>
  </div>
  <div class="card-body">
    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
      {% if object.event_set.all %}
        <table class="table table-sm">
          <tr>
            <th>#</th>
            <th>{% trans "Event" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Status" %}</th>
            <th></th>
          </tr>
          <tbody id="event_list">
            {% include 'center/components/event_row.html' with events=object.event_set.all %}
          </tbody>
        </table>
      {% else %}
        {% include "base/generics/no_data_was_found.html" %}
      {% endif %}
    </div>
  </div>
</div>