{% extends "base/base.html" %}
{% load static %}

{% block content %}
  <div class="mb-3">
    {% include 'event/elements/detail_card.html' %}
    {% include 'event/elements/register_list.html' %}
  </div>
  {% include 'base/modal.html' %}
  {% include 'base/offcanvas.html' %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/modal_form.js' %}"></script>
<script>
  function manageData(url) {
    htmx.ajax('GET', url, '#baseModalContent')
  }
  function manageForm(url) {
    htmx.ajax('GET', url, '#offcanvasContent')
  }
</script>
{% endblock %}