{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  {% include 'event/elements/list_header.html' %}
  {% include 'event/elements/list_table.html' %}
  <div class="text-end mt-4 me-4">
    <button 
      type="button"
      class="float-buttom-plus border btn btn-primary btn-lg rounded-circle fw-bold text-center" 
      data-bs-toggle="offcanvas" 
      data-bs-target="#offcanvasForm" 
      aria-controls="offcanvasForm"
      onclick="manageForm('{% url 'event:create' %}')"
    >
      <i class="fa fa-plus text-center" style="color: rgb(255,255,255); vertical-align: middle;"></i>
    </button>
  </div>
  {% include 'base/modal.html' %}
  {% include 'base/offcanvas.html' %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/modal_form.js' %}"></script>
<script>
  function manageData(url) {
    htmx.ajax('GET', url, '#baseModalContent')
  }
  function manageForm(url) {
    htmx.ajax('GET', url, '#offcanvasContent')
  }
</script>
{% endblock %}