{% load static %}
<div class="card mb-3">
  <div class="card-body shadow">
    {% include 'event/accommodation/components/page_header.html' with stts=object.status status=object.get_status_display %}
    <div class="row mb-3 bg-light">
      <div class="col-lg-4">
        <table class="table table-sm">
          <tr>
            <th width="32%">periodo:</th>
            <td class="lead">{{ object.date|date:"d/M" }} à {{ object.end_date|date:"d/M" }} de {{ object.date|date:"Y" }}</td>
          </tr>
          <tr>
            <th>inscrições até:</th>
            <td class="lead">{{ object.deadline|date:"d/m/Y" }} às {{ object.deadline|date:"H:i" }}</td>
          </tr>
        </table>
      </div>
      <div class="col-lg-4">
        <table class="table table-sm">
          <tr>
            <th width="32%">taxa de registro:</th>
            <td class="lead">{{ object.ref_value }} &nbsp;&nbsp; <small class="text-warning"><em>(min. {{ object.min_value }})</em></small></td>
          </tr>
          <tr>
            <th>obs:</th>
            <td class="lead">
              <span 
                class="lead mb-4"
                data-bs-toggle="tooltip" 
                data-bs-placement="bottom" 
                data-bs-title="{{ object.description }}"
              >
                {{ object.description|truncatechars:25 }}
            </span>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-lg-4">
        <table class="table table-sm">
          <tr>
            <th width="32%">total no evento:</th>
            <td class="h4"><strong>{% if total_registers > 0 %}{{ total_registers }}{% endif %}</strong></td>
          </tr>
          <tr>
            <th>inscritos no núcleo:</th>
            <td class="h4"><strong>{% if registers|length > 0 %}{{ registers|length }}{% endif %}</strong></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>