{% load static %}
{% load i18n %}
{% load my_tags %}
<div class="card shadow">
  <div class="card-header py-3">
    {% include 'base/list_search.html' with list_title=_("Events") placeholder=_("Search by MM/YY...") %}
  </div>
  <div class="card-body">
    <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
      <table class="table my-0" id="dataTable">
        {% if object_list %}
          <tr>
            <th>#</th>
            <th>{% trans "Event" %}</th>
            <th>{% trans "Local" %}</th>
            <th>{% trans "Date" %}</th>
            <th class="text-end">{% trans "Registers" %}</th>
            <th class="text-end">{% trans "Status" %}</th>
          </tr>
        {% endif %}
        <tbody>
          {% for obj in object_list  %}
            <tr class="is-link" onclick="location.href='{% url 'event:detail' obj.pk %}'">
              <td>{{ forloop.counter }}</td>
              <td>
                {{ obj.activity.name }}
              </td>
              <td>{{ obj.center }}</td>
              <td>{{ obj.date|date:"d/m" }} to {{ obj.end_date|date:"d/m" }} of {{ obj.end_date|date:"Y" }}</td>
              <td class="text-end fw-bolder">
                {% if obj.registers %}{{ obj.registers }}{% endif %}
              </td>
              <td class="text-end">
                {% if obj.status == 'OPN' %}
                  <span class="badge rounded-pill text-bg-primary">{% trans "open" %}</span>
                {% elif obj.status == 'SRT' %}
                  <span class="badge rounded-pill text-bg-info">{% trans "shortly" %}</span>
                {% else %}
                  <span class="badge rounded-pill text-bg-secondary">{% trans "closed" %}</span>
                {% endif %}
              </td>
            </tr>
          {% empty %}
            {% include "base/generics/no_data_was_found.html" %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>