{% load static %}
{% load my_tags %}
{% load i18n %}
<nav class="navbar bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{% trans "Reports and Actions" %}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <h5 class="offcanvas-title mb-3 border-bottom">{% trans "Reports" %}</h5>
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <span 
              class="nav-link" 
              aria-current="page" 
              href="#"
              onclick="togleBalanceType();"
            >
              <i class="bi bi-file-earmark-ruled"></i> {% trans 'Cash balance' %}
            </span>
          </li>
          <li class="nav-item" id="balanceType" style="display: none;">
            <div class="list-group list-group-flush effect-trans">
              <a 
                class="list-group-item list-group-item-action"
                href="{% url 'event:report_cash_balance' event.pk %}?days=today"
                target="_blank"
              >
                {% trans "Today" %}
              </a>
              <span 
                class="list-group-item list-group-item-action"
              >
                {% trans "Last" %} <input id="nDays" type="number" class="single-form-control" style="width: 4rem;" value="7" /> 
                <a 
                  class="btn btn-primary btn-sm" 
                  href="#"
                  style="text-decoration: none;"
                  onclick="get_days()"
                >
                  {% trans "Days" %}
                </a>
              </span>
              <a 
                class="list-group-item list-group-item-action"
                href="{% url 'event:report_cash_balance' event.pk %}?days=all"
                target="_blank"
              >
                {% trans "All" %}
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'event:report_payment_per_person' event.pk %}" target="_blank">
              <i class="bi bi-file-earmark-ruled"></i> {% trans 'Payment per person' %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'event:report_total_collected_in_the_center' event.pk %}" target="_blank">
              <i class="bi bi-file-earmark-ruled"></i> {% trans 'Total collected in the center' %}
            </a>
          </li>
        </ul>
        <br>
        {% if user|same_center:object.center_id %}
          <h5 class="offcanvas-title mb-3 border-bottom">{% trans "Actions" %}</h5>
          <div class="text-end">
            <button 
              type="button" 
              class="btn btn-outline-success"
              onclick="location.href='{% url 'event:accommodations' object.pk %}';"
            >
              <i class="bi bi-building"></i>
              {% trans 'Accommodations' %} 
            </button>
            <button 
              type="button"
              class="btn btn-outline-secondary" 
              data-bs-toggle="offcanvas" 
              data-bs-target="#offcanvasForm" 
              aria-controls="offcanvasForm"
              onclick="manageForm('{% url 'event:update' object.pk %}');"
              >
              <i class="bi bi-pencil"></i> {% trans 'Edit' %}
            </button>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

<script>
  function togleBalanceType() {
    var balanceType = document.getElementById('balanceType');
    if (balanceType.style.display === 'none') {
      balanceType.style.display = 'block';
    } else {
      balanceType.style.display = 'none';
    }
  }

  function get_days() {
    var nDays = document.getElementById('nDays');
    url = `{% url 'event:report_cash_balance' event.pk %}?days=${nDays.value}`;
    var win = window.open(url, '_blank');
    win.focus();
  }
</script>