{% load static %}
{% load my_tags %}
<tr>
  <td>{{ forloop.counter }}</td>
  <th>{{ reg.person__name }}</th>
  <th class="text-end">{{ reg.value }}</th>
  <td class="text-end">
    <div class="btn-group" role="group">
      <button 
        type="button"
        class="btn btn-light text-primary btn-sm" 
        data-bs-toggle="modal" 
        data-bs-target="#baseModal"
        onclick="manageData('{% url 'register:show_stay' reg.pk %}')"
      >
        <i class="bi bi-building"></i>
      </button>
      <button 
        type="button"
        class="btn btn-light text-success btn-sm" 
        data-bs-toggle="modal" 
        data-bs-target="#baseModal"
        onclick="manageData('{% url 'register:show_order' reg.order__id %}')"
      >
        <i class="bi bi-cash"></i>
      </button>
      <button 
        type="button"
        class="btn btn-light text-secondary btn-sm" 
        onclick="location.href='{% url 'register:update_order' reg.order__id %}';"
      >
        <i class="bi bi-pencil"></i>
      </button>
      <button 
        type="button"
        class="btn btn-light text-danger btn-sm" 
        data-bs-toggle="modal" 
        data-bs-target="#baseModal"
        onclick="manageData('{% url 'register:delete_order' object.pk reg.order__id %}')"
      >
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </td>
</tr>