{% load static %}
{% load my_tags %}
{% load i18n %}
<hr>
{% if bottoms %}
  <h5>{% trans "Bottom beds" %}</h5>
  <ul class="list-group">
    {% for bed in bottoms %}
      <li class="list-group-item">
        {% if bed.register %}
          <div class="d-flex justify-content-between align-items-center">
            <div style="flex:8;">
              <img class="icon-style me-2" src="{% static 'img/icons/bed_BN.png' %}">
              {{ bed.register.person.name|shortname }} 
            </div>
            <small class="badge text-bg-primary" style="flex:1;">
              {{ bed.register.person.aspect }}
            </small>
            <small class="text-secondary text-center" style="flex:5;">{{ bed.register.person.center.short_name }}</small>
            <div style="flex:2;">
              <span class="badge text-bg-secondary">{{ bed.register.person.birth|age }} {% trans "years" %}</span>
            </div>
          </div>
        {% else %}
          <img class="icon-style me-2" src="{% static 'img/icons/bed_BY.png' %}">
          <span class="text-muted">{% trans "free" %}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

{% endif %}
{% if tops %}
  <h5 class="mt-4">{% trans "Top beds" %}</h5>
  <ul class="list-group">
    {% for bed in tops %}
      <li class="list-group-item">
        {% if bed.register %}
          <div class="d-flex justify-content-between align-items-center">
            <div style="flex:8;">
              <img class="icon-style me-2" src="{% static 'img/icons/bed_BN.png' %}">
              {{ bed.register.person.name|shortname }} 
            </div>
            <small class="badge text-bg-primary" style="flex:1;">
              {{ bed.register.person.aspect }}
            </small>
            <small class="text-secondary text-center" style="flex:5;">{{ bed.register.person.center.short_name }}</small>
            <div style="flex:2;">
              <span class="badge text-bg-secondary">{{ bed.register.person.birth|age }} {% trans "years" %}</span>
            </div>
          </div>
        {% else %}
          <img class="icon-style me-2" src="{% static 'img/icons/bed_TY.png' %}">
          <span class="text-muted">{% trans "free" %}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% if force_top_bed %}
  <div class="form-check form-switch mt-4">
    <input 
      class="form-check-input" 
      type="checkbox" 
      id="forceTopBed" 
      name="forceTopBed"
      hx-get="{% url 'event:force_top_bed' %}"
      hx-trigger="change"
      hx-target="#force"
    >
    <label class="form-check-label" for="forceTopBed">{% trans "Force the use of top bed" %}</label>
    <span id="force"></span>
  </div>
{% endif %}