{% load static %}
{% load i18n %}
<div class="card mb-3">
  <div class="card-body shadow">
    {% include 'event/accommodation/components/page_header.html' %}
    <ul class="nav nav-pills nav-fill mt-2 mb-2 bg-light">
      <li class="nav-item">
        <a 
          class="nav-link {% if filter == 'lts' %}active{% endif %}" 
          href="{% url 'event:accommodations' event_id %}?filter=lts"
        >
          <i class="bi bi-arrow-up"></i> {% trans "Latests" %} 
        </a>
      </li>
      <li class="nav-item">
        <a 
          class="nav-link {% if filter == 'all' %}active{% endif %}" 
          href="{% url 'event:accommodations' event_id %}"
        >
          {% trans "Registered" %}  
          <span class="badge text-bg-secondary">{{ total_registers }}</span>
        </a>
      </li>
      <li class="nav-item">
        <a 
          class="nav-link {% if filter == 'alloc' %}active{% endif %}" 
          href="{% url 'event:accommodations' event_id %}?filter=alloc"
        >
          {% trans "Allocated" %}
          <span class="badge text-bg-secondary">{{ allocated }}</span>
        </a> 
      </li>
      <li class="nav-item">
        <a 
          class="nav-link {% if filter == 'unalloc' %}active{% endif %}" 
          href="{% url 'event:accommodations' event_id %}?filter=unalloc"
        >
          {% trans "Unallocated" %}
          <span class="badge text-bg-secondary">{{ unallocated }}</span>
        </a> 
      </li>
      <li class="nav-item">
        <a 
          class="nav-link {% if filter == 'HSE' %}active{% endif %}" 
          href="{% url 'event:accommodations' event_id %}?filter=HSE"
        >
          {% trans "House" %}
          <span class="badge text-bg-secondary">{{ house }}</span>
        </a> 
      </li>
      <li class="nav-item">
        <a 
          class="nav-link {% if filter == 'HTL' %}active{% endif %}" 
          href="{% url 'event:accommodations' event_id %}?filter=HTL"
        >
          {% trans "Hotel" %}
          <span class="badge text-bg-secondary">{{ hotel }}</span>
        </a> 
      </li>
    </ul>
  </div>
</div>