{% load i18n %}
<nav class="navbar bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span> {% trans "Reports an Actions" %}
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <h5 class="offcanvas-title mb-3 border-bottom">{% trans "Reports" %}</h5>
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'event:report_mapping_by_room' event.pk %}" target="_blank">
              <i class="bi bi-file-earmark-ruled"></i> {% trans "Accommodation mapping by room" %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'event:report_mapping_per_person' event.pk %}" target="_blank">
              <i class="bi bi-file-earmark-ruled"></i> {% trans "Accommodation mapping per person" %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'event:report_people_at_the_event' event.pk %}" target="_blank">
              <i class="bi bi-file-earmark-ruled"></i> {% trans "People on event" %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'event:report_people_per_aspect' event.pk %}" target="_blank">
              <i class="bi bi-file-earmark-ruled"></i> {% trans "People per aspect" %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'event:reports_golden_head' event.pk %}" target="_blank">
              <i class="bi bi-file-earmark-ruled"></i> {% trans "Golden Head pupils" %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'event:report_people_per_meal' event.pk %}" target="_blank">
              <i class="bi bi-file-earmark-ruled"></i> {% trans "People per meal" %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'event:report_people_who_cannot_eat_gluten' event.pk %}" target="_blank">
              <i class="bi bi-file-earmark-ruled"></i> {% trans "People who cannot eat gluten" %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'event:report_staff' event.pk %}" target="_blank">
              <i class="bi bi-file-earmark-ruled"></i> {% trans "Staff" %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'event:report_sos_contacts' event.pk %}" target="_blank">
              <i class="bi bi-file-earmark-ruled"></i> {% trans "SOS contacts" %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'event:report_total_collected_by_centers' event.pk %}" target="_blank">
              <i class="bi bi-file-earmark-ruled"></i> {% trans "Total collected by centers" %}
            </a>
          </li>
        </ul>
        <br>
        <h5 class="offcanvas-title mb-3 border-bottom">{% trans "Actions" %}</h5>
        <div class="d-grid gap-2">
          <button 
            type="button"
            class="btn btn-outline-primary" 
            onclick="location.href='{% url 'event:bedrooms_on_event' event.pk %}';"
          >
            <i class="bi bi-building"></i> 
            {% trans "View bedrooms" %}
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>