{% extends "core/base.html" %}
{% load static %}

{% block content %}
  <div class="card" style="width: 40rem;">
    <h1 class="display-1 text-center">
      {% if object.gender == 'M' %}
        <i class="bi bi-gender-male"></i>
      {% else %}
        <i class="bi bi-gender-female"></i>
      {% endif %}
    </h1>
    <div class="card-body">
    <h2 class="card-title">{{ object.name }}</h2>
      <br>
      <table class="table table-sm table-hover">
        <tr>
          <th scope="row">local</th>
          <td>{{ object.city }} ({{ object.state }}-{{ object.country }})</td>
        </tr>
        <tr>
          <th scope="row">phone</th>
          <td>{{ object.phone }}</td>
        </tr>
        <tr>
          <th scope="row">email</th>
          <td>{{ object.email }}</td>
        </tr>
        <tr class="text-danger">
          <th scope="row">sos contact</th>
          <td>{{ object.sos_contact }}</td>
        </tr>
        <tr class="text-danger">
          <th scope="row">sos phone</th>
          <td>{{ object.sos_phone }}</td>
        </tr>
        <tr>
          <th scope="row">birth</th>
          <td>{{ object.birth }}</td>
        </tr>
        <tr>
          <th scope="row">id cars</th>
          <td>{{ object.id_card }}</td>
        </tr>
      </table>
      <br>
      <!-- Credit Log | start -->
      {% if credit_log %}
        <table class="table table-sm table-hover">
          <tr>
            <th>Date</th>
            <th>Operation</th>
            <th>Description</th>
            <th class="text-end">R$</th>
          </tr>
          {% for credit in credit_log %}
            <tr class="{% if credit.operation == 'USE' %}text-danger{% endif %}">
              <td>{{ credit.created_on|date:'d/m/Y' }}</td>
              <td>{{ credit.get_operation_display }}</td>
              <td>{{ credit.description }}</td>
              <td class="text-end">{% if credit.operation == 'USE' %}-{% endif %}{{ credit.credit }}</td>
            </tr>
          {% endfor %}
          <tr>
            <th colspan="3" class="text-end">TOTAL</th>
            <th class="text-end">{{ object.credit }}</th>
          </tr>
        </table>
      {% endif %}
      <!-- Credit Log | end -->
      <br><br>
      <div class="text-end">
        <button 
          type="button" 
          class="btn btn-outline-info"
          onclick="location.href='{% url 'person:list' %}';"
        >
          <i class="bi bi-chevron-left"></i>
          Voltar 
        </button>
        <button 
          type="button" 
          class="btn btn-outline-warning"
          onclick="location.href='{% url 'person:update' object.pk %}';"
        >
          <i class="bi bi-pencil"></i>
          Editar 
        </button>
        <button 
          type="button" 
          class="btn btn-outline-danger"
          onclick="location.href='{% url 'person:delete' object.pk %}';"
        >
          <i class="bi bi-trash"></i>
          Delete 
        </button>
      </div>
    </div>
  </div>
{% endblock %}
