{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  {% include 'person/elements/detail_header.html' %}
  <div class="row mb-3">
    <div class="col-lg-4">
      {% include 'person/elements/detail_card.html' %}
    </div>

    <div class="col-lg-8">
      <div class="row">
        <div class="col">
          {% include 'person/elements/stays.html' %}
          {% if credit_log %}
            {% include 'person/elements/credit_log.html' %}
          {% endif %}
          {% if registers %}
            {% include 'person/elements/registers.html' %}
          {% endif %}
        </div>
      </div>
    </div>
    
  </div>
  {% include 'base/modal.html' %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/modal_form.js' %}"></script>
<script>
  function manageData(url) {
    htmx.ajax('GET', url, '#baseModalContent')
  }
</script>
{% endblock %}